streamlit==1.35.0
streamlit_option_menu
streamlit_extras

numpy==1.26.4
pandas==2.2.3
pyarrow

joblib==1.4.2
scikit-learn==1.4.2
xgboost==2.1.1
shap

plotly
matplotlib
seaborn

scipy>=1.11.0
statsmodels==0.14.0
IPython


